<div class="banner-box">
  <img src="../img/banner.jpg" alt="">
  <div class="banner-title-box">
    <span class="banner-title">영</span>
    <span class="banner-title">화</span>
    <span class="banner-title">, &nbsp;</span>
    <span class="banner-title">시</span>
    <span class="banner-title">리</span>
    <span class="banner-title">즈 &nbsp;</span>
    <span class="banner-title">등</span>
    <span class="banner-title">의</span>
    <span class="banner-title">순</span>
    <span class="banner-title">위</span>
    <span class="banner-title">를 &nbsp;</span>
    <span class="banner-title">무</span>
    <span class="banner-title">제</span>
    <span class="banner-title">한</span>
    <span class="banner-title">으</span>
    <span class="banner-title">로</span>
    <div class="banner-desc-box">
      <span class="banner-desc">단돈 0원에 알아보세요!</span>
    </div>
  </div>
</div>