<span class="movie-area-title">현재 상영작</span>
  <div class="swiper">
    <div class="parallax-bg" data-swiper-parallax="-10%" data-swiper-parallax-scale="0.85"></div>
      <div class="movie-area swiper-wrapper">
        <div class="movie-info swiper-slide">
          <div class="img-box">
            <img src="https://image.tmdb.org/t/p/w300/" alt="">
          </div>
          <span class="movie-name"></span>
          <strong class="original-name"></strong>
          <span class="movie-release-date">개봉일: </span>
          <span class="movie-vote-average">평점: </span>
        </div>
      </div>
  </div>